	/*Principals elements*/	
	@font-face 
		{
    		font-family: 'alex_brushregular';
    		src: url('../Fonts/AlexBrush/alexbrush-regular-webfont.ttf') ;
    		src: url('../Fonts/AlexBrush/alexbrush-regular-webfont.woff2') format('woff2'),
         	url('../Fonts/AlexBrush/alexbrush-regular-webfont.woff') format('woff');
    		font-weight: normal;
    		font-style: normal;
    	}	
    @font-face 
    	{
    		font-family: 'open_sansbold';
    		src: url('../Fonts/OpenSans-Bold/opensans-bold-webfont.ttf'); 
    		src: url('../Fonts/OpenSans-Bold/opensans-bold-webfont.woff2') format('woff2'),
         	url('../Fonts/OpenSans-Bold/opensans-bold-webfont.woff') format('woff');
    		font-weight: normal;
    		font-style: normal;
		}
	@font-face 
		{
    		font-family: 'open_sansregular';
    		src: url('../Fonts/OpenSans-Regular/opensans-regular-webfont.tff');
    		src: url('../Fonts/OpenSans-Regular/opensans-regular-webfont.woff2') format('woff2'),
         	url('../Fonts/OpenSans-Regular/opensans-regular-webfont.woff2') format('woff');
    		font-weight: normal;
    		font-style: normal;
		}	
	html, body 
		{
			margin : 0;
			padding : 0;
			height:100%;
			
		}
	#MainWrapper
		{	
			height:100%;
			display: flex;
			flex-direction: column;
			font-family: 'open_sansregular','Arial',sans-serif ,serif;
		}
	mark
		{
			background-color: #39efa9;
		}
	.ResponsiveImg
		{
			max-width : 100%;
			height: auto;
			display: block;
		}
	h1 
		{
			font-size: 2.1em;
		}
	h2 
		{
			font-size: 1.5em;
			text-align: left;
		}	
	p
		{
			font-size: 1.3em;	
		}
	ul 
		{
			list-style-type: none;
		}

	strong 
		{
			font-family: 'open_sansbold';
		}

	/* Contained configutation */
	#Contained
		{
			height: 100%;
			max-width: 1200px;
			padding: 0;
			margin:auto;
			
		}
	.ContainedItems 
		{
			width: 100%;
			height: auto;
			display: flex;
			flex:1;
		}
	.ItemsLogos
		{
			display: block;
			height:100px;
			width: 100px;
		}
	.LogoStyleBloc
		{
			width: 10%;
			height: auto;
			display: flex;
			justify-content: center;
	 		align-items:center;
		}
	.TextStyleBloc
		{
			width: 90%;
			height: auto;
			display: flex;
			flex-direction: column;
			justify-content: center;
			overflow: hidden;
			text-align: left;
		}
	#skillsDispositions
		{
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
		}
	/*Header Configuration*/
	header
		{
			background-color: rgb(116,81,235);
			width: 100%;
			min-height:210px;
			max-height: 230px;
			color:#FFF;
			overflow: hidden;
	 		padding: 0px;
	 		margin: 0px;
		}
	#PrincipalTitle
		{
			margin-right: 15%;
			height: auto;
		}
	#HeaderBlock 
		{
			height: auto;
			width: 100%
			max-width: 1200px;
			margin: auto;
			padding: 0px;
			display: flex;
			justify-content: center;
	 		align-items: center;
		}
	header h1
		{
			margin : 0 0 0 0;
			padding: 0% 0 0 5%;
			font-family: 'alex_brushregular','Arial',sans-serif ,serif;
		}
	header h2
		{
			margin : 0 0 0 0;
			padding: 0 0 0 5%;
		}
	header p
		{
			font-weight: normal;
			padding: 0 0 0 0;
			margin : 2% 0 0% 0%;
		}	
	/*Footer Configuration*/
	footer
		{
			background: rgb(20,41,73);
			width: 100%;
			min-height:210px;
			max-height: 230px;
			color: #fff;			
		}
	#FooterBlock
		{	
			height: 100%;
			width: 100%
			max-width: 1200px;
			margin: auto;
			padding: 0;
			display: flex;
			flex-direction: column;
			align-items:center;
			justify-content: center; 
		}	
	footer h1 
		{
			font-size:1.5em;
			margin: 20% 0 0 0;
		}
	footer p 
		{
			font-size:1.2em;
			margin: 0 0 5% 0;
			padding: 0 0 0 0;
		}
	#Links 

		{
			margin: 0 20% 0 0 ;
			display: flex;
		}
	#FooterTitle
		{
		 	padding: 0 20% 0 0;
		}	


