/*Principals elements*/
html, body 
{
	margin : 0;
	padding : 0;
	height:100%;
}
#MainWrapper
{
	height:100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

}

/*Header Configuration*/
header
{
	background-color: rgb(116,81,235);
	width: 100%;
	height: 25%;
	max-height: 200px;
	color:#FFF;
}
#HeaderContained
{
 height: 100%;
 margin: auto;
 overflow: hidden;
 display: flex;
 justify-content: center;
 align-items: flex-end;
}

header h1,header h2 
{
	margin-left: 50px;
	margin-right: 100px;
}


header h1
{
	font-size:2.3em;
	margin-bottom: 1px;

}

header h2
{
	margin-top: 1px;
	font-size:1.8em;
}

/*
Photo
{
	width: 262px;
	height: 350px;
}
*/

/* Contained configutation */

#Contained
{
	background-color: red;
	width: 100%;
	flex: 1;
	overflow: auto;
}



/*Footer Configuration*/
footer
{
	background: rgb(20,41,73);
	width: 100%;
	height: 25%;
	max-height: 200px;
}