/*Principals elements*/
html, body 
{
	margin : 0;
	padding : 0;
	height:100%;
}
#MainWrapper
{
	height:100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

}

/*Header Configuration*/
header
{
	background-color: rgb(116,81,235);
	width: 100%;
	height: 150px;
}


/*
#Photo
{
	width: 262px;
	height: 350px;
}
*/

/* Contained configutation */

#Contained
{
	background-color: red;
	width: 100%;
	flex: 1;
	overflow: auto;
}



/*Footer Configuration*/
footer
{
	background: rgb(20,41,73);
	width: 100%;
	height: 150px;
}