#BlocPage
{
    width: 100%;
    margin: auto;
    background-color: yellow;
    margin: none;
    padding: none;
}

header
{
	background-color: #7451eb;
	display: flex;
	margin: auto;
	 margin: none;
    padding: none;
    width: 100%;

}